
@*@{
    ViewData["Title"] = "ERROR404";
}

<div class="error-page">
    <h2 class="headline text-danger">404</h2>

    <div class="error-content">

        <p>
            We will work on fixing that right away.
            Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.
        </p>
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

    </div>
</div>*@

